<ion-content>
  <div id="container" class="ion-padding">
    <ion-text class="text-center">
      <h1>
        <ion-icon name="key-outline" size="large"></ion-icon>
      </h1>
      <h1>Forgot Password</h1>
    </ion-text>
    <ion-item>
      <ion-label position="floating"> <span>Type Your Email</span></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <div class="text-center mt-3">
      <ion-button expand="round" color="dark">
        <ion-icon name="log-in-outline"></ion-icon> Submit</ion-button
      >
    </div>
  </div>
</ion-content>
