<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="editForm" (ngSubmit)="saveForm()">
      <ion-item>
        <ion-label position="floating">Activity</ion-label>
        <ion-input formControlName="activity" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-datetime formControlName="date_added" required placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Time</ion-label>
        <ion-datetime formControlName="time_added" display-format="hh:mm A" picker-format="hh:mm A" required></ion-datetime>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">
            Update Schedule
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>