<ion-content>
  <div id="container">
    <ion-text class="ion-text-center">
      <h1><b>Create Account</b></h1>
    </ion-text>
    <ion-card class="ion-padding">
      <ion-text class="ion-text-center">
        <h2><b>Sign Up</b></h2>
      </ion-text>
      <ion-card-content>
        <form [formGroup]="form">
          <ion-item>
            <ion-label position="floating">
              <span>Name</span>
            </ion-label>
            <ion-input type="password" formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"> <span>Username</span></ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <span>Password</span>
            </ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="ion-text-center mt-3">
            <ion-button expand="round" color="dark">
              <ion-icon name="log-in-outline"></ion-icon> SignUp</ion-button
            >
          </div>
          <div class="text-center">
            Already have an account?
            <a
              class="font-bold text-gray-500"
              [routerLink]="['/site', 'signin']"
              >Login</a
            >
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
