<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Mobile Planner</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-list>
      <form [formGroup]="mainForm" (ngSubmit)="storeData()">
        <ion-item>
          <ion-label position="floating">Activity</ion-label>
          <ion-input formControlName="activity" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Date</ion-label>
          <ion-datetime formControlName="date_added" placeholder="Select Date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Time</ion-label>
          <ion-datetime formControlName="time_added" placeholder="Select Time" display-format="hh:mm A" picker-format="hh:mm A"></ion-datetime>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" shape="full" expand="block">
              Add Activity
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>
    <ion-list>
      <ion-list-header>
        List of Schedules
      </ion-list-header>
      <ion-item lines="inset" *ngFor="let data of Data">
        <ion-label>
          <h5>{{data.activity}}</h5>
          <p>{{data.date_added | date:"MM/dd/yyyy" }} - {{data.time_added | date:'h:mma' }}</p>
        </ion-label>
        <div class="item-note" item-end>
          <ion-icon name="create" style="zoom:2.0" [routerLink]="['/schedule/', data.id]"></ion-icon>       
          <ion-icon name="trash" style="zoom:2.0" (click)="deleteSchedule(data.id)"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>