<ion-content>
  <div id="container">
    <ion-text class="ion-text-center"
      ><h1><b>Mobile Planner</b></h1></ion-text
    >
    <ion-card class="ion-padding">
      <ion-text class="ion-text-center">
        <h2><b>Login</b></h2>
      </ion-text>
      <ion-card-content>
        <form [formGroup]="form">
          <ion-item>
            <ion-label position="floating"> <span>Username</span></ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <span>Password</span>
            </ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="ion-text-center mt-3">
            <ion-button expand="round" color="dark" (click)="login()">
              <ion-icon name="log-in-outline"></ion-icon> Login</ion-button
            >
          </div>
          <div class="text-center">
            <div class="mt-2">
              <a
                class="font-bold text-gray-500"
                [routerLink]="['/site', 'forgot-password']"
                >forgot your password?</a
              >
            </div>
            Do you have account?
            <a
              class="font-bold text-gray-500"
              [routerLink]="['/site', 'signup']"
              >Signup</a
            >
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
